/* li{
    padding: 40px;
    background-color: cadetblue ;
    text-decoration: none;
    list-style: none;
    text-align: center;
    width: 50px;
    height: 5px;
    margin: 20px 500px; 
    border: 2px solid black;

}
a{
    padding: auto;
    text-align: center;
    text-decoration: none;
} */